body {
  background: white;
  font-family: 'Roboto', sans-serif;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100vh;
}

.nav-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #292929;
  height: 100vh;
  width: 100px;
  position: fixed;
  margin-right: 10vw;
}

@media (max-width: 768px) {
  .nav-main {
    display: none;
  }
}

.nav-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 0.9rem;
  color: #FFF;
  padding-top: 3vh;
  height: 5em;
}

.nav-row p {
  font-size: 0.8rem;
}

.nav-row:hover {
  cursor: pointer;
}

.nav-col {
  height: 50vh;
  margin-top: 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 1.5em;
}

.nav-main button {
  background: transparent;
  border: none;
}

.space-evenly {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.logout {
  height: 25px;
  width: 25px;
  margin-top: 4em;
}

.addButton {
  height: 20px;
  width: 60px;
}

.landing {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.landing-header {
  color: #141414;
  font-size: 3em;
  font-family: 'Russo One', sans-serif;
  text-shadow: 20px 10px 10px grey;
}

.btn-contain {
  margin: 5% auto;
  min-height: 100px;
}

.btn-skew-contain {
  max-width: 270px;
  margin: 0 auto;
}

.btn-skew {
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  color: white;
  text-transform: uppercase;
  text-decoration: none !important;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 10px;
  padding: 10px 15px 10px 15px;
  border: 2px solid #f7f7f7;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  -webkit-transition: .3s;
  transition: .3s;
  display: block;
}

.nounder {
  text-decoration: none !important;
}

.btn-skew:after {
  position: absolute;
  -webkit-transition: .3s;
  transition: .3s;
  content: '';
  width: 0;
  bottom: 0;
  background: #f7f7f7;
  height: 120%;
  left: -10%;
  -webkit-transform: skewX(15deg);
  transform: skewX(15deg);
  z-index: -1;
}

.btn-skew:hover {
  cursor: pointer;
}

.btn-skew:hover:after {
  width: 100%;
  left: 0;
}

.btn-skew:hover {
  color: black;
}

.btn-skew:hover:after {
  left: -10%;
  width: 120%;
}

.login {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.login-header {
  color: #FFF;
  font-size: 3em;
  font-family: 'Russo One', sans-serif;
  text-shadow: 20px 10px 10px grey;
}

.login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30vw;
  height: 40vh;
  min-width: 300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 30vh;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #FFF;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 10px grey;
          box-shadow: 1px 1px 10px grey;
  font-family: 'Roboto', sans-serif;
}

.login-input {
  width: 50%;
  height: 25px;
  border-radius: 5px;
  padding-left: 4%;
  background-color: #FFF;
}

.registration {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.registration-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30vw;
  height: 40vh;
  min-width: 300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 45vh;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #FFF;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 10px grey;
          box-shadow: 1px 1px 10px grey;
  font-family: 'Roboto', sans-serif;
}

.loader {
  height: 100vh;
  width: 100vw;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.columnForm {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.uploading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 80px;
}

.uploader {
  height: 3vh;
  width: 180px;
}

.challengeForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30vw;
  height: 40vh;
  min-width: 300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 45vh;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #FFF;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 10px grey;
          box-shadow: 1px 1px 10px grey;
  font-family: 'Roboto', sans-serif;
}

.myChallenges {
  height: 20vh;
  width: 20vw;
  background: maroon;
}

.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.dashMain {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 1px 1px 10px black;
          box-shadow: 1px 1px 10px black;
  background-color: #20222F;
  width: 50vw;
  height: 20vh;
  margin-top: 5vh;
}

.profile-picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1em;
}

.profile-picture img {
  max-width: 100%;
  height: 75px;
  width: 75px;
}

.profile-info {
  color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.profile-info a {
  color: #FFF;
  text-decoration: none;
}

.profile-stats {
  color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.edit-icon img {
  margin: 0.5em;
}

.edit-icon img:hover {
  cursor: pointer;
}

.my-challenges {
  height: 60vh;
  width: 50vw;
  background-color: #2E303D;
  margin-top: 2em;
}

.challenge-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-header {
  margin-top: 1em;
  color: #292929;
  font-size: 2em;
  font-family: 'Russo One', sans-serif;
  text-shadow: 20px 10px 10px grey;
}

.homeChallenges {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 10vw;
}

.challengeDisplay {
  margin: 3em;
  width: 100%;
  height: 40vh;
  -webkit-box-shadow: 1px 1px 10px black;
          box-shadow: 1px 1px 10px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.challenge-descriptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70%;
}

.option-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 768px) {
  .challengeDisplay {
    margin: 1em;
    height: 60vh;
  }
  .homeChallenges {
    margin: 1em;
  }
}

@media (max-width: 1047px) {
  .challengeDisplay {
    margin-left: 1em;
  }
  .nav-main {
    width: 80px;
  }
}

@media (max-width: 1000px) {
  .challengeDisplay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .dashHeader {
    width: 65vw;
    height: 30vh;
  }
  .my-challenges {
    width: 65vw;
  }
  .ui-tools {
    display: none !important;
  }
}

@media (max-width: 648px) {
  .challengeDisplay {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .profile-stats {
    display: none;
  }
  .profile-info {
    margin-left: 2em;
  }
  .profile-picture {
    display: none;
  }
  .my-challenges {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .accepted {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .accepted_display {
    margin-bottom: 2em;
  }
  .challenge-options {
    height: 30%;
  }
}

.challenge-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1em;
}

.challengeImg {
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  min-width: 250px;
  max-width: 250px;
  height: auto;
  width: 100%;
  margin-right: 2em;
}

.challengeImg:hover {
  cursor: pointer;
}

.uploaded-img {
  max-width: 300px;
  max-height: 300px;
  width: 100%;
}

.challenge-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: #272727;
}

.ui-tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 200px;
  text-align: right;
  color: #272727;
  margin-right: 1em;
}

.ui-tools h4 {
  margin-bottom: 1em;
}

.ui-frameworks {
  margin-bottom: 2em;
  height: 10vh;
}

.tool-icons i {
  font-size: 2rem;
  margin: 0.5em;
}

.tool-icons i:hover {
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 2.1rem;
}

.like-button {
  height: 25px;
  width: 70px;
  background: #FFF;
  border: 1px solid #b1a5a5;
  border-radius: 4px;
  color: #2E303D;
  margin-left: 1px;
}

.like-button:hover {
  cursor: pointer;
  border: 2px solid gray;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.liked-button {
  height: 25px;
  background: #FC425A;
  border: 2px solid #FC425A;
  border-radius: 4px;
  color: #FFF;
  margin-left: 3px;
}

.liked-button:hover {
  cursor: pointer;
}

.accept-button {
  height: 25px;
  background: #FFF;
  border: 1px solid gray;
  border-radius: 4px;
  color: #2E303D;
  margin-right: 3px;
}

.accept-button:hover {
  cursor: pointer;
  border: 2px solid gray;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.charts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.charts-header h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFF;
}

.charts-header h4:hover {
  cursor: pointer;
}

.like-display {
  height: 300px;
  width: 300px;
}

.like-options {
  color: #fff;
  margin-top: 1em;
  height: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.my-likes {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 10vw;
}

.edit-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.my-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFF;
  height: 70vh;
  width: 50vw;
  background-color: #2E303D;
  margin-top: 2em;
}

.form-inputs {
  width: 50%;
}

.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.accepted {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.accepted_image {
  max-height: 200px;
  max-width: 200px;
  border-radius: 5px;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.completed-users {
  height: 80vh;
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 15vw;
}

.completed-users img {
  height: 50px;
  width: 50px;
}

.completed-user {
  width: 400px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #FFF;
}

.complete_challenge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 50vh;
  width: 40vw;
}

.form-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 20vw;
}

.completed {
  width: 80vw;
  height: 70vh;
}

.link {
  color: #272727;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */