$sidebarMain: #2E303D;
$mainPage: #23232E;
@mixin flexCenter {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

body {
    background: rgb(41,42,53);
    background: linear-gradient(180deg, rgba(41,42,53,1) 0%, rgba(32,33,44,1) 35%, rgba(23,23,27,1) 100%) fixed;
}

.row {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

//Navigation

.nav-main {
    display: flex;
    flex-direction: column;
    background: rgb(47,49,62);
    background: linear-gradient(180deg, rgba(47,49,62,1) 0%, rgba(36,39,52,1) 35%, rgba(31,33,46,1) 100%);
    height: 100vh;
    width: 100px;
    position: fixed;
    margin-right: 10vw;
  }

  .nav-row {

    @include flexCenter();
      display: flex;
      flex-direction: row;
      font-family: 'Roboto', sans-serif;
      font-weight: 100;
      color: #FFF;
      padding-top: 3vh;
      height: 5em;

      &:hover {
          cursor: pointer;
      }
  }

  

  .nav-row img {
      display: flex;
      align-items: center;
      height: 25px;
      width: 25px;
  }

  .nav-col {
      height: 50vh;
      margin-top: 10em;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
  }

  .nav-main button {
      background: transparent;
      border: none;
  }

  .space-evenly {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
  }

  .logout {
      height: 25px;
      width: 25px;
      margin-top: 7em;
  }

  .addButton {
      height: 20px;
      width: 60px;
  }

//   Challenge.js upload section

.columnForm {
    @include flexCenter();
}
  .uploading {
      display: flex;
      flex-direction: column;
  }

  .uploader {
      height: 3vh;
      width: 180px;
  }

  .challengeForm {
      display: flex;
      flex-direction: column;
  }

  .myChallenges {
      height: 20vh;
      width: 20vw;
      background: maroon;
  }


//   DASHBOARD
.dashboard {
    display: flex;
    flex-direction: row;
}

.dashMain {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashHeader {
    display: flex;
    box-shadow: 1px 1px 10px black ;  
    background-color: #20222F;
    width: 50vw;
    height: 20vh;
    margin-top: 5vh;
}

// Home Page

.homeChallenges {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10vw;
}

.challengeDisplay {
    margin: 1em;
}

.challengeImg {
    position: relative;
    display: inline-block;
    height: 300px;
    width: 300px;
    &:hover {
        cursor: pointer;
        
    }
}

.challenge-options {
    display: flex;
    // display: none;
    flex-direction: row;
    justify-content: space-between;
    
}

.my-likes {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10vw;
}