$sidebarMain: #2E303D;
$mainPage: #23232E;

$breakpoint-l: 768px;
@mixin flexCenter {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

body {
    background: rgb(41,42,53);
    background: linear-gradient(180deg, rgba(41,42,53,1) 0%, rgba(32,33,44,1) 35%, rgba(23,23,27,1) 100%) fixed;
    font-family: 'Roboto', sans-serif;
}

.row {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

//Navigation

.nav-main {
    display: flex;
    flex-direction: column;
    background: rgb(47,49,62);
    background: linear-gradient(180deg, rgba(47,49,62,1) 0%, rgba(36,39,52,1) 35%, rgba(31,33,46,1) 100%);
    height: 100vh;
    width: 100px;
    position: fixed;
    margin-right: 10vw;
  } 
    @media(max-width: $breakpoint-l){
        .nav-main {
            display: none;
        }

        
  }

  .nav-row {

    @include flexCenter();
      display: flex;
      flex-direction: column;
      font-family: 'Roboto', sans-serif;
      font-weight: 100;
      font-size: 0.9rem;
      color: #FFF;
      padding-top: 3vh;
      height: 5em;

      &:hover {
          cursor: pointer;
      }
  }

  .nav-row img {
      display: flex;
      align-items: center;
      height: 25px;
      width: 25px;
  }

  .nav-col {
      height: 50vh;
      margin-top: 10em;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
  }

  .nav-main button {
      background: transparent;
      border: none;
  }

  .space-evenly {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
  }

  .logout {
      height: 25px;
      width: 25px;
      margin-top: 4em;
  }

  .addButton {
      height: 20px;
      width: 60px;
  }

  .responsive {
      display: none;
  }

  //Landing Page
.landing {
    @include flexCenter();
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.landing-header {
    color: #FFF;
    font-size: 3em;
    font-family: 'Russo One', sans-serif;
    text-shadow: 20px 10px 10px grey;  
}

//Landing Page Buttons
.btn-contain {
    margin: 5% auto;
    min-height: 100px;
  }
  .btn-skew-contain {
    max-width: 270px;
    margin: 0 auto;
  }
  .btn-skew {
    font-family:sans-serif;
    font-weight:bold;
    text-align: center;
    color: white;
    text-transform: uppercase;
    text-decoration: none!important;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin: 10px;
    padding: 10px 15px 10px 15px;
    border: 2px solid #f7f7f7;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    -webkit-transition: .3s;
    transition: .3s;
    display:block;
  }

  .nounder {
      text-decoration: none!important;
  }
  .btn-skew:after {
    position: absolute;
    -webkit-transition: .3s;
    transition: .3s;
    content: '';
    width: 0;
    bottom: 0;
    background: #f7f7f7;
    height: 120%;
    left: -10%;
    -webkit-transform: skewX(15deg);
    transform: skewX(15deg);
    z-index: -1;
  }
  .btn-skew:hover {
    cursor: pointer;
  }
  .btn-skew:hover:after {
    width: 100%;
    left: 0;
  }
  .btn-skew:hover {
    color: black;
  }
  .btn-skew:hover:after {
    left: -10%;
    width: 120%;
  }

  //Login page
  .login {
      @include flexCenter();
      height: 100vh;
      flex-direction: column;
      justify-content: space-evenly;
  }

  .login-header {
    color: #FFF;
    font-size: 3em;
    font-family: 'Russo One', sans-serif;
    text-shadow: 20px 10px 10px grey;  
  }

  .login-form {
      display: flex;
      align-items: center;
      width: 30vw;
      height: 40vh;
      min-width: 300px;
      flex-direction: column;
      height: 30vh;
      justify-content: space-evenly;
      background-color: #FFF;
      border-radius: 5px;
      box-shadow: 1px 1px 10px grey;
      font-family: 'Roboto', sans-serif;  
  }

  .login-input {
      width: 50%;
      height: 25px;
      border-radius: 5px;
      padding-left: 4%;
      background-color: #FFF;

  }

  .login-button {
      
  }

//Registration page
.registration {
    @include flexCenter();
    flex-direction: column;
    height: 100vh;
}  

.registration-form {
    display: flex;
      align-items: center;
      width: 30vw;
      height: 40vh;
      min-width: 300px;
      flex-direction: column;
      height: 45vh;
      justify-content: space-evenly;
      background-color: #FFF;
      border-radius: 5px;
      box-shadow: 1px 1px 10px grey;
      font-family: 'Roboto', sans-serif;  
}

//Loader
.loader {
    height: 100vh;
    width: 100vw;
    @include flexCenter();
}

//   Challenge.js upload section

.columnForm {
    @include flexCenter();
    flex-direction: column;
}
  .uploading {
      display: flex;
      flex-direction: column;
      max-width: 80px;
  }

  .uploader {
      height: 3vh;
      width: 180px;
  }

  .challengeForm {
    display: flex;
    align-items: center;
    width: 30vw;
    height: 40vh;
    min-width: 300px;
    flex-direction: column;
    height: 45vh;
    justify-content: space-evenly;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 1px 1px 10px grey;
    font-family: 'Roboto', sans-serif;  
  }

  .myChallenges {
      height: 20vh;
      width: 20vw;
      background: maroon;
  }


//   DASHBOARD


.dashboard {
    display: flex;
    flex-direction: row;
}

.dashMain {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 1px 1px 10px black;  
    background-color: #20222F;
    width: 50vw;
    height: 20vh;
    margin-top: 5vh;
}

.profile-picture {
    display: flex;
    align-items: center;
    margin-left: 1em;
    img {
        max-width: 100%;
        height: 75px;
        width: 75px;
        
    }
}

.profile-info {
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
    a {
        color: #FFF;
        text-decoration: none;
    }
}

.profile-stats {
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
}

.edit-icon img {
    margin: 0.5em;
    &:hover {
        cursor: pointer;
    }
}


.my-challenges {
    height: 60vh;
    width: 50vw;
    background-color: #2E303D;
    margin-top: 2em;
}

// Home Page
.challenge-header {
    @include flexCenter();
}

.home-header {
    margin-top: 1em;
    color: #FFF;
    font-size: 2em;
    font-family: 'Russo One', sans-serif;
    text-shadow: 20px 10px 10px grey;  
}

.homeChallenges {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10vw;
}

.challengeDisplay {
    margin: 3em;
    width: 100%;
    height: 40vh;
    box-shadow: 1px 1px 10px black;  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.challenge-descriptions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
}

.option-buttons {
    display: flex;
    flex-direction: row;
}


@media(max-width: $breakpoint-l){
    .challengeDisplay{
        margin: 1em;
        height: 60vh;
    }

    .homeChallenges {
        margin: 1em;
    }
}

@media(max-width: 1047px) {
    .challengeDisplay {
        margin-left: 1em;
    }

    .nav-main {
        width: 80px;
    }
}

@media(max-width: 1000px) {
    .challengeDisplay {
        display: flex;
        flex-direction: row;
    }

    .dashHeader {
        width: 65vw;
        height: 30vh;
    }

    .my-challenges {
        width: 65vw;
    }

    .ui-tools {
        display: none!important;
    }
}

@media(max-width: 648px) {
    .challengeDisplay {
        height: 100vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }

    .profile-stats {
        display: none;
    }

    .profile-info {
        margin-left: 2em;
    }

    .profile-picture {
        display: none;
    }

    .my-challenges {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .accepted {
        display: flex;
        flex-direction: column;
    }

    .accepted_display {
        margin-bottom: 2em;
    }
    

    .challenge-options {
        height: 30%;
    }
}

.challenge-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1em;
}

.challengeImg {
    border-radius: 5px;
    display: flex;
    height: auto;
    min-width: 250px;
    max-width: 250px;
    height: auto;
    width: 100%;
    margin-right: 2em;
    &:hover {
        cursor: pointer;
        
    }
}

.uploaded-img {
    max-width: 300px;
    max-height: 300px;
    width: 100%;
}

.challenge-options {
    display: flex;
    // display: none;
    flex-direction: column;
    justify-content: space-evenly;
    color: #FFF;
}

.ui-tools {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 200px;
    text-align: right;
    color: #FFF;
    margin-right: 1em;
}

.ui-tools h4 {
    margin-bottom: 1em;
}

.ui-frameworks {
    margin-bottom: 2em;
    height: 10vh;
}

.tool-icons i {
    font-size: 2rem;
    margin: 0.5em;
    &:hover {
        cursor: pointer;
        transition: 0.2s;
        font-size: 2.1rem;
    }
}
.like-button {
    height: 25px;
    width: 60px;
    background: #FFF;
    border: 1px solid rgb(177, 165, 165);
    border-radius: 4px;
    color: #2E303D;
    margin-left: 1px;
    &:hover {
        cursor: pointer;
        border: 2px solid gray;
        transition: ease-in-out 0.2s;
    }
}

.liked-button {
    height: 25px;
    background: #FC425A;
    border: 2px solid #FC425A;
    border-radius: 4px;
    color: #FFF;
    margin-left: 3px;
    &:hover {
        cursor: pointer;
    }
}

.accept-button {
    height: 25px;
    width: 70px;
    background: #FFF;
    border: 1px solid gray;
    border-radius: 4px;
    color: #2E303D;
    margin-right: 3px;
    &:hover {
        cursor: pointer;
        border: 2px solid gray;
        transition: ease-in-out 0.2s;
    }
}

.charts {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.charts-header h4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #FFF;
    &:hover {
        cursor: pointer;
    }
}



//Likes

.like-display {
    height: 300px;
    width: 300px;
}

.like-options {
    color: #fff;
    margin-top: 1em;
    height: 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.my-likes {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10vw;
    
}

//Edit Component
.edit-form {
    @include flexCenter();
}

.my-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 70vh;
    width: 50vw;
    background-color: #2E303D;
    margin-top: 2em;
}

.form-inputs {
    width: 50%;
}

.form-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

//Accepted
.accepted {
    margin-top: 1em;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.accepted_image {
    max-height: 200px;
    max-width: 200px;
    border-radius: 5px;
}



//Modal
.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.3);
} 

.completed-users {
    height: 80vh;
    width: 80vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 15vw;
    img{
        height: 50px;
        width: 50px;
    }
}

.completed-user {
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    color: #FFF;
    
}

.complete_challenge {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50vh;
    width: 40vw;
}

.form-button {
    display: flex;
    flex-direction: row;
    width: 20vw;

}

.completed {
    width: 80vw;
    height: 70vh;
}

.link {
    color: #FFF;
    text-decoration: none;
}